<div class="about-row row">
  <div class="col m6 center">
    <%= image_tag ('about-me-picture.JPG'), class: "about-me-image" %>
  </div>
  <div class="about-content col s12 m6">
    <h1>Hi! I'm Kyra!</h1>
    <p>I develop software. Ruby. Rails. React. Passionate about user experience & processes.</p>
    <p>Mama. Wife.</p>
    <p></p>
    <p class="align-right"> - Kyra </p>
  <div>
    <% @instagram.each do |instagram| %>
    <div class="col s6 m3">
      <%= image_tag instagram.images.standard_resolution.url %>
    </div>
    <% end %>
  </div>
  </div>
</div>

<div class="container">
  <div class="row">

  </div>
</div>