<%= render 'layouts/header' %>

<div class = "jumbotron">
  <div class="container jumbo-text">
    <h1>Code is my<br>jam...</h1>
  </div>
<a id="about"></a>
</div>

<div class="container" id="page1">
  <div class="row about-me-background col-md-12">
    <div class="about-me-text col-md-6 col-md-offset-6">
      <h2>I also dig art, beaches, beer, books, dancing, pottery, yoga, and writing...</h5>
      <%= link_to 'Check out my Blog', posts_path, class: "btn btn-default col-md-8 col-md-offset-2 col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2 link-to-blog" %>
    </div>
  </div>
<a id="portfolio"></a>
</div>

<div class="container col-md-12" id="page2">
  <hr>
    <h1>My Recent Work</h1>
        <h2 class="coming-soon"> Coming Soon </h2>
  <hr>
<a id="contact"></a>
</div>

<div class="contact-section" id="page3">
<h1>Contact Me</h1>
  <div class="container">
      <form action="mailto:kfillmore27@gmail.com" method="GET">
        <input name = "subject" type="text" class="form-control" placeholder="Your Name">
        <input type="email" class="form-control" placeholder="Your Email">
        <textarea name = "body" class="form-control " rows="5"></textarea>
        <button type="submit" value="Send" class="btn btn-default col-md-12">Send Message</button>
      </form>
  </div>
</div>

<div class="container footer">
  <div class="row">
    <div>
      <ul class= "text-center list-inline social-media">
        <li><a href="https://www.linkedin.com/profile/public-profile-settings?trk=prof-edit-edit-public_profile" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
        <li><a href="https://twitter.com/kyrafillmore" target="_blank"><i class="fa fa-twitter-square fa-2x"></i></a></li>
        <li><a href="https://github.com/kfill27" target="_blank"><i class="fa fa-github-square fa-2x"></i></a></li>
        <li><a href="https://open.spotify.com/user/kfillmore27" target="_blank"><i class="fa fa-spotify fa-2x"></i></a></li>
      </ul>
      <a href="http://www.kyrafillmore.com" class ="pull-right copyright">Kyra Fillmore &copy;</a>

    </div>
  </div>
</div>
