/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'variables';


 @font-face {
  font-family: "ProximaNova-Bold";
  src: font-url('ProximaNova-Bold.ttf')
}

 @font-face {
  font-family: "ProximaNova-Light";
  src: font-url('ProximaNova-Light.ttf');
}

.container {
  width: 90%;
}

// .row .col.m4 {
//   width: 32%;
// }

.btn {
  background: $dark-blue;
}

.btn:hover {
  background: $dark-blue;
}

// CSS to make content fade in on scroll
.fadeInBlock {
    opacity:0;
}

// HomePage Colors
.dark-blue {
  background: $dark-blue;
  height:50px;
}
.medium-blue {
  background: $medium-blue;
  height:50px;
}
.light-blue {
  background: $light-blue;
  height:50px;
}
.red {
  background: $red;
  height:50px;
}
.orange {
  background: $orange;
  height:50px;
}

// About Page Colors
.about-dark-blue {
  background: $dark-blue;
  height:20px;
}
.about-medium-blue {
  background: $medium-blue;
  height:20px;
}
.about-light-blue {
  background: $light-blue;
  height:20px;
}
.about-red {
  background: $red;
  height:20px;
  margin-top: -6px;
}
.about-orange {
  background: $orange;
  height:20px;
}
