@font-face {
    font-family: 'ProximaNova-Bold';
    src: font-url('/assets/fonts/ProximaNova-Bold.ttf');
    font-family: 'ProximaNova-Light';
    src: font-url('/assets/fonts/ProximaNova-Light.ttf');
  }
