// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'variables';

img {
  max-width: 100%;
}

body {
  font-family: 'ProximaNova-Light', sans-serif;
}

h1 {
  color: $red;
  font-family: 'ProximaNova-Bold', sans-serif;
  text-align: center;
}

/*Header Section********************************/

nav a {
  font-family: 'ProximaNova-Light', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  color: #333;
  margin: 0 30px;
}

nav {
  background-color: $red;
}

.brand-logo {
  font-size: 1rem;
  color:#fff;
}

.material-icons {
  color: #fff;
}

/*Jumbotron Section********************************/

.jumbotron {
  background-size: 100%;
  position: static;
  z-index: 1;
}

.jumbo-text {
  background: #fff;
  position: static;
  z-index: 100
}

.jumbo-text h1 {
  font-size: 7em;
  padding: 30px 0;
}

.jumbo-text, .jumbo-text h5 {
  color: $red;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/*About Me Section********************************/

.about-me-background {
  background: $light-blue;
}

.about-me-text {
  color: #fff;
  margin-top: 50px;
}

.link-to-blog {
  text-align: center;
  margin: 0 auto 50px auto;
}

/*Portfolio Section********************************/

.card-title i {
  color: #333;
}


/*Footer/ Social Media Section********************************/
.social-media {
  margin-top: 20px;
}

.social-media li {
  display: inline-block;
  padding: 0 15px;
}

.social-media li a {
  color: $red;
}

.footer .copyright {
  padding: 15px;
  text-transform: uppercase;
  color: #333;
}
