// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'variables';

a:hover {
  text-decoration: none;
}

.post-wrapper {
  background: #fff;
  
}

.post-title {
  color: $red;
  font-family: 'ProximaNova-Bold', sans-serif;
}

.fa-plus-circle {
  color: $red;
}

.admin-dashboard {
  display: inline-block;
}

.show-title {
  padding-top: 70px;
}
