<div class="container footer">
  <div class="row">
    <div>
      <ul class= "text-center list-inline social-media">
        <li><a href="https://www.linkedin.com/profile/public-profile-settings?trk=prof-edit-edit-public_profile" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
        <li><a href="https://github.com/kfill27" target="_blank"><i class="fa fa-github-square fa-2x"></i></a></li>
        <li><a href="https://twitter.com/kyrafillmore" target="_blank"><i class="fa fa-twitter-square fa-2x"></i></a></li>
        <li><a href="https://www.instagram.com/kyrafillmore/" target="_blank"><i class="fa fa-instagram fa-2x"></i></i></a></li>
        <li><a href="https://open.spotify.com/user/kfillmore27" target="_blank"><i class="fa fa-spotify fa-2x"></i></a></li>
      </ul>
      <a href="http://www.kyrafillmore.com" class ="pull-right copyright">Kyra Fillmore &copy;</a>
    </div>
  </div>
</div>
