<header>
<nav class ="navbar-fixed-top" id = "nav">
    <%= link_to 'Kyra Fillmore', root_path, class: "navbar-brand" %>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to 'Blog', posts_path %></li>
      <li><a href = "#about" >About</a></li>
      <li><a href = "#blog" >Portfolio</a></li>
      <li><a href = "#contact" >Contact</a></li>
    </ul>
  </nav>
</header>
